<!DOCTYPE html>
<html>

<head>
  <title>KADOSILANG | HOME</title>
</head>

<body>
  <h1>{{judul}} di {{subjudul}}</h1>

  <ul>
    {# template Tags #}

    {% for link,name in nav%}
    <li>
      <a href="{{link}}">{{name}}</a>
    </li>
    {% endfor%}
  </ul>

  <p>
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Est officiis, aliquid
    amet natus dicta ipsa? Possimus, blanditiis
    voluptatibus fugiat, rerum magni dolore,
    vero tempora ab itaque earum voluptates quam velit!
  </p>
</body>

</html>