<!DOCTYPE html>
<html>

<head>
  <title>{{judul}}</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
  <!-- NAVBAR BEGIN -->
  {% include 'navbar.html' %}
  {% block content %}{% endblock %}
  <!-- NAVBAR END -->

  <h1>{{subjudul}}</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Est officiis, aliquid
    amet natus dicta ipsa? Possimus, blanditiis
    voluptatibus fugiat, rerum magni dolore,
    vero tempora ab itaque earum voluptates quam velit!
  </p>
</body>

</html>